.client {

  form {
    width: 500px;

    label {
      display: block;
      line-height: 32px;
      font-weight: bold;
      margin-top: 15px;
    }
    input{
      width: 100%;
      line-height: 32px;
      border: 1px solid #cccccc;
      border-radius: 4px;
      padding: 0 16px;
      box-sizing: border-box;
    }
  }
}
