.home {
  section {
    display: flex;
    flex-direction: row;

    aside {
      width: 200px;
      min-width: 180px;
      max-width: 300px;
    }

    main {
      flex: 1;
      padding: 15px;
    }
  }
}
